{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block cssfiles %}{% endblock cssfiles %}
    <title>
        {% block title %} {% endblock %} | BlogApp</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="" class="navbar-brand">BlogApp</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Programlama</a>
                    <a href="#" class="list-group-item list-group-item-action">Web Programlama</a>
                    <a href="#" class="list-group-item list-group-item-action">Mobil Kerem</a>
                </div>
            </div>
            <div class="col-9">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'img/1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Komple Web geliştirme kursu</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'img/2.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Komple Web geliştirme kursu</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'img/3.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Komple Web geliştirme kursu</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'img/4.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Komple Web geliştirme kursu</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block jsfiles %} {% endblock %}
</body>
</html>